


body {
    background-image: url('https://previews.123rf.com/images/elnur/elnur1411/elnur141107636/33947155-%E5%A4%9C%E3%81%AB%E3%83%8B%E3%83%A5%E3%83%BC%E3%83%A8%E3%83%BC%E3%82%AF%E3%81%AE%E6%9C%89%E5%90%8D%E3%81%AA%E6%91%A9%E5%A4%A9%E6%A5%BC.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}




.title-text {
    color: #FF4500;
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.header-text {
    color: #008080;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
}


h2 {
    position: relative;
    text-align: center;
    border: 3px solid #000;
  }
  
  h2:before,
  h2:after {
    position: absolute;
    content: '';
  }
  
  h2:before {
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: #f8f8f8;
  }
  
  h2 span {
    position: relative;
    display: block;
    padding: 2rem;
    letter-spacing: .05em;
    color: #fff;
    text-shadow: #000 2px 0, #000 -2px 0, #000 0 -2px, #000 0 2px, #000 2px 2px, #000 -2px 2px, #000 2px -2px, #000 -2px -2px, #000 1px 2px, #000 -1px 2px, #000 1px -2px, #000 -1px -2px, #000 2px 1px, #000 -2px 1px, #000 2px -1px, #000 -2px -1px, 4px 4px 0 #000, 0 4px 0 #000;
  }
  
  h2 span:before,
  h2 span:after {
    position: absolute;
    left: 10px;
    width: calc(100% - 20px);
    height: 2px;
    content: '';
    background: #000;
  }
  
  h2 span:before {
    top: 15px;
  }
  
  h2 span:after {
    bottom: 15px;
  }